CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.*~
build/
.main.cpp.kate-swp
*.kate-swp
*.aux
report/tmp
report/Thesis.pdf
report/Thesis.synctex.gz
*~
presentation/tmp
presentation/presentation.pdf
presentation/presentation.synctex.gz
html
latex
